<li class="procedure api-data-method" data-method="[NAME]">
    <div class="title">
        <a class="toggle-method" href="#"><span class="name">[NAME]()</span></a>
        —
        <span class="description">[DESCRIPTION]</span>
    </div>

    <form class="api-form togglable">
        <table class="table table-bordered parameters [HIDE_FORM]">
            <thead>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            [LIST_VARIABLES]
            </tbody>
        </table>
        <button class="btn btn-default">Test</button>
        <pre class="api-result hidden"></pre>
    </form>
</li>
